[package]
name = "python-notepad"
version = "0.1.0"
edition = "2021"

[lib]
name = "_core"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.22", features = ["extension-module"] }
notepad_parser = { git = "https://github.com/AbdulRhmanAlfaifi/notepad_parser" }
